body {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    border-left: 6px solid #390040;
    padding-left: 15px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

p {
    margin-bottom: 35px;
}

.flexible {
    display: flex;
    padding-left: 150px;
}

.half-width {
    width: 50%;
    padding-right: 20px;
}

.one-third-width {
    width: 33%;
}

.half-width img {
    width: 80%;
}

.one-third-width img {
    width: 29%;
}

.word-color {
    color: #9CF6F6;
}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(#F679E5, #390040);
    padding: 10px 20px;
    border-radius: 5px;
    color: #F9E7E7;
}

.gap {
    margin-top: 100px;
}

.box1 {
    margin-right: 40px;
    border-radius: 15px;
    padding: 10px 30px;
    background-image: linear-gradient(#9CF6F6, #F9E7E7);
}

.box2 {
    margin-right: 40px;
    border-radius: 15px;
    padding: 10px 30px;
    background-image: linear-gradient(#F9E7E7, #9CF6F6);
}

#develop-limit img {
    width: 90%;
}