body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Source Code Pro', monospace;
}

.flexible {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 60%;
}

.word-color {
    color: #FE5D26;
}