body {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    border-left: 6px solid #390040;
    padding-left: 15px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

p {
    margin-bottom: 35px;
}
.flexible {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 150px;
    padding-right: 20px;
}

.one-third-width {
    width: 33%;
    padding-left: 150px;
}

.half-width img {
    width: 80%;
}

.one-third-width img {
    width: 29%;
}

.word-color {
    color: #9CF6F6;
}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(#F679E5, #390040);
    padding: 10px 20px;
    border-radius: 5px;
    color: #F9E7E7;
}

.gap {
    margin-top: 100px;
}